<%- include('template/cabecera'); %>
<body>
    <%- include('template/navbar'); %>
    <h1 class="text-primary"> estas en los servicios de la empresa </h1>
    <%- include('template/footer'); %>
</body>
</html>